


<h1>Employee:</h1>

<h2><%= @employee.name %><h2>
<h3>Specialty: <%= @employee.specialty %></h3>

<h4>Appointments:</h4>
<div>
    <ul>
    <% @employee.appointments.each do |appt| %>
        <li> <%= appt.service + " @ " + appt.apt_time %> </li>
        <% end %> 
     </ul>
</div>


<h4>Menu:</h4>
    <div><%= link_to "Edit this employee", edit_employee_path(@employee) %></div>

    <div><%= link_to "Delete This Employee", employee_path(@employee), :method => :delete %></div>
    
    <div><%= link_to "Employees Index", employees_path %></div>