<h1>Clients:</h1>

<h2><%= @client.name %><h2>
<h3>Member since: <%= @employee.member_since %></h3>

<h4>Appointments:</h4>
<div>
    <ul>
    <% @client.appointments.each do |appt| %>
        <li> <%= appt.service + " by " + appt.employee.name + " @ " + appt.apt_time %> </li>
        <% end %> 
     </ul></div>


<h4>Menu:</h4>
    <div><%= link_to "Edit this client", edit_client_path(@client) %></div>

    <div><%= link_to "Delete This Client", client_path(@client), :method => :delete %></div>
    
    <div><%= link_to "Clients Index", clients_path %></div>