<h1><%= @appointment.client.name %></h1>
<div><h2>Your appointment is scheduled for <%= @appointment.apt_time %>, for <%=@appointment.service%>, with <%= @appointment.employee.name%>.</h2></div>
<%= link_to("KILL appointment", appointment_path(@appointment), :method => :delete) %>


